body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;

}
.image-container{
    display: flex;
    flex: 1;
    height: 100vh;
    width: 500px;
}
.image{
    background-image: url(./images/background.avif);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    flex: auto;
    width: 400px;
}
.form-container{
    flex: auto;
    width: 500px;
    background-color: rgb(189, 189, 189);
}
.card-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:20%;
    flex: auto;
    background: rgba(0, 0, 0, .5);
    color: WHITE;
    height: min(200px,20vw);
}
img{
    height: 100%;
}